<div class="port15-teaser">

  <div class="project--teaser">
    <div class="teaser--content ">
      {% if subheading %}
      <span class="title-label">{{ subheading }}</span>
      {% endif %}

      {% if title %}
      <h3>{{ title }}</h3>
      {% endif %}

      {% if summary %}
      {{ summary }}
      {% endif %}

      {% if link_url and link_text %}
      <a href="{{ link_url }}" class="teaser-link">{{ link_text }}</a>
      {% endif %}
    </div>
  </div>

  <div class="project--img">
    {% if image_url %}
    <img src="{{ image_url|striptags|trim }}" alt="{{ image_alt_txt }}" />
    {% endif %}

  </div>

</div>
