{#
/**
 * @file
 * Default theme implementation to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main content
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 *
 * @ingroup themeable
 */
#}

<!-- Copied from block.html.twig -->
<!-- Note: This is the template for the blocks that have half an image and half text.  -->
<!-- To Do: Create reusable blocks based off of this template. Also, how to make resuable blocks that allow for alternation of images/text -->
<!-- To Do: In some areas this block has a background color -->

{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
  ]
%}
<div{{ attributes.addClass(classes).addClass('img-text-wrap-container')}}>





  <div class="container">
    {% block content %}

    <!-- Note: If the image appears on the right and text on the left then this class needs to be added to the div below .flex-row-reverse"  -->
    <div {{ content_attributes.addClass('img-txt-wrap flex-wrap d-flex ') }}>
      <!-- TO Do: Add vertical image -->
      <div class="column half-img">



        {#      <img src="{{ content.field_half_half_image[0]['#markup'] }}"> #}


        {{ content.field_half_half_image }}

      </div>


      <div class="column half-text d-flex flex-wrap align-items-center align-content-center">

        <div class="horizontal-rule"> </div>


        <!-- Note: If you need the text to appear on the left then add .left-side to this div -->
        <div class="half-text-content ">

          {{ title_prefix }}
          {% if label %}

          <h2{{ title_attributes }}>{{ label }}</h2>
            {% endif %}
            {{ title_suffix }}
            <p>
              {{ content.body }}
            </p>


            {% if content.field_half_and_half_button[0] %}
            <a href="{{ content.field_half_and_half_button[0]['#url'] }}" class="button red-btn">
              <div>{{ content.field_half_and_half_button[0]['#title'] }}</div>
            </a>
            {% endif %}

        </div>
      </div>

    </div>
  </div>

  </div>
  {% endblock %}
